In [1]:
from optimizers.best import get_best_weigth, rate_portfolio
res = get_best_weigth("scipy", False)

REDUCE
stock part: [0.03333333 0.03333333 0.03333333 0.05761248 0.03333333 0.03333333
 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333
 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333
 0.03120389 0.03333333 0.03779596 0.03333333 0.03333333 0.03333333
 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333 0.03333333]
COMPUTE BEST
computed ids: [2023 2035 2024 2034 1958 1591 1918 1595 1995 1571 2112 1793 1445 2064
 1965 1990 1912 1862]
assets ids tested:  [2023 2035 2024 2034 1958 1591 1918 1595 1995 1571 2112 1793 1445 2064
 1965 1990 1912 1862]
stocks are numbers:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
stock part %: 100.0
%nav between 0.01 and 0.1: True
assets between 15 and 40: True
final weight:  [0.012      0.012      0.0852835  0.09443505 0.05555556 0.04658967
 0.098      0.05335363 0.04642414 0.04589391 0.08947535 0.05248584
 0.05335363 0.08947535 0.05335363 0.04642414 0.0697901  0.0717043 ]

In [2]:
rate_portfolio(res)

Sharp of portfolio = 2.947922826452
Constraint pass = True
Constraint weight = [0.01115659 0.01115659 0.07928939 0.08779773 0.05165088 0.04331517
 0.09111212 0.04960366 0.04316124 0.04266831 0.08318664 0.0487969
 0.0496037  0.08318664 0.04960366 0.04316124 0.06488494 0.0666646 ]

In [3]:
rate_portfolio(res)

Sharp of portfolio = 2.947922826452
Constraint pass = True
Constraint weight = [0.01115659 0.01115659 0.07928939 0.08779773 0.05165088 0.04331517
 0.09111212 0.04960366 0.04316124 0.04266831 0.08318664 0.0487969
 0.0496037  0.08318664 0.04960366 0.04316124 0.06488494 0.0666646 ]

In [4]:
res

    asset_id  quantities
0       2023  28571429.0
1       2035  13714286.0
2       2024    852835.0
3       2034  11760280.0
4       1958    380648.0
5       1591    318671.0
6       1918  21166307.0
7       1595    317109.0
8       1995    836471.0
9       1571    548905.0
10      2112   2638109.0
11      1793   2970336.0
12      1445    599816.0
13      2064   1234405.0
14      1965    396681.0
15      1990   1079631.0
16      1912   3551659.0
17      1862   2313042.0